In [1]:
import pandas as pd

In [2]:
weather = pd.read_csv('/users/slappy/desktop/ga/ga_labs/project-4/all-2/weather.csv')

In [3]:
weather.shape

(2944, 22)

In [4]:
pd.set_option('display.max_columns', 25)

In [5]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,0448,1849,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,-,-,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,0447,1850,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,-,-,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,0446,1851,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [6]:
weather.isnull().sum()

Station        0
Date           0
Tmax           0
Tmin           0
Tavg           0
Depart         0
DewPoint       0
WetBulb        0
Heat           0
Cool           0
Sunrise        0
Sunset         0
CodeSum        0
Depth          0
Water1         0
SnowFall       0
PrecipTotal    0
StnPressure    0
SeaLevel       0
ResultSpeed    0
ResultDir      0
AvgSpeed       0
dtype: int64

In [7]:
weather.SnowFall.value_counts()

M      1472
0.0    1459
  T      12
0.1       1
Name: SnowFall, dtype: int64

In [8]:
weather.Depth.value_counts()

0    1472
M    1472
Name: Depth, dtype: int64

In [9]:
weather.Water1.value_counts()

M    2944
Name: Water1, dtype: int64

In [10]:
weather.CodeSum.replace(' ', '-', inplace = True)

In [11]:
weather.CodeSum.value_counts()

-                       1609
RA                       296
RA BR                    238
BR                       110
TSRA RA BR                92
BR HZ                     81
RA DZ BR                  65
TSRA RA                   43
HZ                        39
RA BR HZ                  38
TSRA                      34
RA DZ                     22
TSRA BR                   21
TS TSRA RA BR             19
RA HZ                     16
TS RA                     13
TSRA RA BR HZ             12
TS                        10
TS TSRA BR                10
DZ BR                     10
DZ BR HZ                   9
DZ                         8
TS RA BR                   8
TSRA BR HZ                 8
RA DZ BR HZ                7
TS TSRA RA                 7
TS TSRA BR HZ              7
TS TSRA                    7
FG+ BR                     4
TS BR                      4
                        ...
RA SN BR                   1
TSRA RA BR HZ VCTS         1
RA BR FU                   1
BCFG BR                    1
TS RA BR HZ                1
RA FG+ BR                  1
TSRA BR SQ                 1
RA FG+ MIFG BR             1
FG+ FG BR                  1
TSRA FG+ BR                1
TS TSRA RA VCTS            1
RA BR HZ VCFG              1
TSRA RA FG+ FG BR HZ       1
RA BR HZ VCTS              1
RA VCTS                    1
TSRA FG+ BR HZ             1
RA DZ FG+ BR HZ            1
TS TSRA HZ                 1
TSRA BR HZ FU              1
FG+ MIFG BR                1
BR VCTS                    1
FG+                        1
RA BCFG BR                 1
TS TSRA VCFG               1
TSRA RA FG+ BR             1
HZ VCTS                    1
MIFG BCFG BR               1
RA DZ FG+ BCFG BR          1
BR HZ VCFG                 1
RA DZ SN                   1
Name: CodeSum, Length: 98, dtype: int64