In [35]:
import pandas as pd
import numpy as np

# LOAD THE DATA

In [3]:
train = pd.read_csv('./data/train.csv')
train.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0

In [4]:
test = pd.read_csv('./data/test.csv')
test.head(1)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

In [5]:
spray = pd.read_csv('./data/spray.csv')
spray.head(1)

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163

In [6]:
weather = pd.read_csv('./data/weather.csv')
weather.head(1)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2

In [ ]:
import pandas as pd
import rpy2.robjects as robjects
saveRDS = robjects.r['saveRDS']
saveRDS(pd_dataframe, 'data.rds')

# EDA

### EDA - Train

In [10]:
train.shape

(10506, 12)

In [7]:
train.isnull().sum()

Date                      0
Address                   0
Species                   0
Block                     0
Street                    0
Trap                      0
AddressNumberAndStreet    0
Latitude                  0
Longitude                 0
AddressAccuracy           0
NumMosquitos              0
WnvPresent                0
dtype: int64

In [9]:
train.dtypes

Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
NumMosquitos                int64
WnvPresent                  int64
dtype: object

In [11]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
Block,10506.0,35.687797,24.339468,10.000000,12.000000,33.000000,52.000000,98.000000
Latitude,10506.0,41.841139,0.112742,41.644612,41.732984,41.846283,41.954690,42.017430
Longitude,10506.0,-87.699908,0.096514,-87.930995,-87.760070,-87.694991,-87.627796,-87.531635
AddressAccuracy,10506.0,7.819532,1.452921,3.000000,8.000000,8.000000,9.000000,9.000000
NumMosquitos,10506.0,12.853512,16.133816,1.000000,2.000000,5.000000,17.000000,50.000000
WnvPresent,10506.0,0.052446,0.222936,0.000000,0.000000,0.000000,0.000000,1.000000

In [25]:
train.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0

In [24]:
train['Date'] = pd.to_datetime(train['Date'], infer_datetime_format=True)

In [27]:
train['Address'] = train['Address'].astype('category')
train['Species'] = train['Species'].astype('category')
train['Street']  = train['Street'].astype('category')
train['Trap']    = train['Trap'].astype('category')
train['AddressNumberAndStreet'] = train['AddressNumberAndStreet'].astype('category')

In [28]:
train.dtypes

Date                      datetime64[ns]
Address                         category
Species                         category
Block                              int64
Street                          category
Trap                            category
AddressNumberAndStreet          category
Latitude                         float64
Longitude                        float64
AddressAccuracy                    int64
NumMosquitos                       int64
WnvPresent                         int64
dtype: object

### EDA - Test

In [12]:
test.shape

(116293, 11)

In [13]:
test.isnull().sum()

Id                        0
Date                      0
Address                   0
Species                   0
Block                     0
Street                    0
Trap                      0
AddressNumberAndStreet    0
Latitude                  0
Longitude                 0
AddressAccuracy           0
dtype: int64

In [14]:
test.dtypes

Id                          int64
Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
dtype: object

In [15]:
test.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,116293.0,58147.000000,33571.041765,1.000000,29074.000000,58147.000000,87220.000000,116293.000000
Block,116293.0,41.131100,24.864726,10.000000,18.000000,39.000000,61.000000,98.000000
Latitude,116293.0,41.849389,0.106593,41.644612,41.753411,41.862292,41.951866,42.017430
Longitude,116293.0,-87.693658,0.080699,-87.930995,-87.750938,-87.694991,-87.648860,-87.531635
AddressAccuracy,116293.0,7.954357,1.252733,3.000000,8.000000,8.000000,9.000000,9.000000

In [29]:
test['Date'] = pd.to_datetime(test['Date'], infer_datetime_format=True)

In [30]:
test['Address'] = test['Address'].astype('category')
test['Species'] = test['Species'].astype('category')
test['Street']  = test['Street'].astype('category')
test['Trap']    = test['Trap'].astype('category')
test['AddressNumberAndStreet'] = test['AddressNumberAndStreet'].astype('category')

In [31]:
test.dtypes

Id                                 int64
Date                      datetime64[ns]
Address                         category
Species                         category
Block                              int64
Street                          category
Trap                            category
AddressNumberAndStreet          category
Latitude                         float64
Longitude                        float64
AddressAccuracy                    int64
dtype: object

### EDA - Spray

In [16]:
spray.shape

(14835, 4)

In [17]:
spray.isnull().sum()

Date           0
Time         584
Latitude       0
Longitude      0
dtype: int64

In [18]:
spray.dtypes

Date          object
Time          object
Latitude     float64
Longitude    float64
dtype: object

In [19]:
spray.describe().T

,count,mean,std,min,25%,50%,75%,max
Latitude,14835.0,41.904828,0.104381,41.713925,41.785001,41.940075,41.980978,42.395983
Longitude,14835.0,-87.736690,0.067292,-88.096468,-87.794225,-87.727853,-87.694108,-87.586727

### EDA - Weather

In [20]:
weather.shape

(2944, 22)

In [21]:
weather.isnull().sum()

Station        0
Date           0
Tmax           0
Tmin           0
Tavg           0
Depart         0
DewPoint       0
WetBulb        0
Heat           0
Cool           0
Sunrise        0
Sunset         0
CodeSum        0
Depth          0
Water1         0
SnowFall       0
PrecipTotal    0
StnPressure    0
SeaLevel       0
ResultSpeed    0
ResultDir      0
AvgSpeed       0
dtype: int64

In [22]:
weather.dtypes

Station          int64
Date            object
Tmax             int64
Tmin             int64
Tavg            object
Depart          object
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1          object
SnowFall        object
PrecipTotal     object
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object

In [23]:
weather.describe().T

              count       mean        std   min   25%   50%   75%    max
Station      2944.0   1.500000   0.500085   1.0   1.0   1.5   2.0    2.0
Tmax         2944.0  76.166101  11.461970  41.0  69.0  78.0  85.0  104.0
Tmin         2944.0  57.810462  10.381939  29.0  50.0  59.0  66.0   83.0
DewPoint     2944.0  53.457880  10.675181  22.0  46.0  54.0  62.0   75.0
ResultSpeed  2944.0   6.960666   3.587527   0.1   4.3   6.4   9.2   24.1
ResultDir    2944.0  17.494905  10.063609   1.0   7.0  19.0  25.0   36.0